<router-outlet>
  <div class="header">
    <div class="container">
      <div class="header-inner">
        <nav>
          <ul>
            <li><a routerLink="/cloud-viewer" routerLinkActive="active">Cloud Viewer</a></li>
            <li><a routerLink="/meeting" routerLinkActive="active">Meeting</a></li>
            <!-- <li><a routerLink="/video-express" routerLinkActive="active">Video Express</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</router-outlet>
