


.header {
    width: 100%;
    background: #eee; 
    padding: 10px 0;
}
.header .container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header ul li {
    margin: 0 5px;
}
.header ul li a {
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #354d85;
    border-color: #354d85;
    padding: 10px;
    font-size: 14px;
    display: block;
    border-radius: 3px;
}

.header ul li a.active,
.header ul li a:hover {
    background-color: #143379;
    border-color: #123072;
}

