.from-section {
    padding: 40px 0;
}
.from-section .container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.form-wrap {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 3px 8px 21px #aaaaaa66;
    border-radius: 10px;
    padding: 20px 15px;
}
.from-group {
    margin-bottom: 20px;
 }
 .from-group .label {
     display: block;
     width: 100%;
     font-weight: 600;
     text-align: left;
     margin-bottom: 10px;
 }
 .from-group input {
     display: block;
     width: 100%;
     font-weight: 400;
     height: 40px;
     padding: 0 15px;
     font-size: 14px;
     border-radius: 3px;
     border:1px solid #ddd;
 }
 .from-group input:focus {
     outline: none;
     box-shadow: inherit;
 }
 .btn-wrap button {
    background-color: #143379;
    border-color: #123072;
    padding: 10px 14px;
    border-radius: 3px;
    border: none;
    margin: 2px;
    color: #fff;
    cursor: pointer;
}
.btn-wrap button:hover {
    opacity: 0.9;
}

.doc-container {
    width: 75% !important;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    height: 700px !important;
}
