<div class="from-section">
  <div class="container">
      <div class="form-wrap">
        <div class="from">
          <div class="from-group">
            <div class="input-el">
              <label for="doc" class="label">Enter Document Url:</label>
              <input type="text" [(ngModel)]="doc" name="doc" #ctrl="ngModel" required>
            </div>
          </div>
          <div class="from-group">
            <div class="btn-wrap">
              <button (click)="setValue()">Get Document</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



<!-- <p>Value: {{ doc }}</p>
<p>Valid: {{ ctrl.valid }}</p> -->

<div>
  <ngx-doc-viewer
    class="doc-container"
    [url]="urls"
    disableContent="none"
    [viewerUrl]="viewUrls"
    overrideLocalhost
    style="width:100%;height:100vh;"
  ></ngx-doc-viewer>
</div>

<!-- 
  viewer="url" -->
