<div class="from-section">
    <div class="container">
        <div class="form-wrap">

            <div class="from-title">
                <h3>Session:</h3>
            </div>

            <div class="from">
                <div class="from-group">
                    <div class="input-el">
                        <label class="label">Meeting Code:</label>
                        <input type="text" [(ngModel)]="roomname" required>
                    </div>
                </div>
                <div class="from-group">
                    <div class="input-el">
                        <label class="label">User Name:</label>
                        <input type="text" [(ngModel)]="username" required>
                    </div>
                </div>
            </div>

            <div class="btn-wrap">
                <button (click)="startCall()">Set value</button>
                <button (click)="takeSnap()">Snap Shot</button> <!-- get snap shot of video or screen -->
                <!-- <button (click)="getDevice()">Get device</button> get device info -->
                <button (click)="checkStreams()">Check Streams</button> <!-- to detect changes in streams -->
            </div>

            <div class="snap-wrap">
                <div id="snap"></div>
            </div>
            
            <div class="btn-wrap">
                <button (click)="screenShare()">Screen Share</button>
                <button (click)="audio()">Audio</button> <!-- audio / video controls -->
                <button (click)="video()">Video</button>
                <button (click)="disconnect()">Disconnect</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="from-title">
        <h3>Subscribers:</h3>
        <div id="subscribers"></div>
    </div>
    
    <div class="from-title">
        <h3>Publishers:</h3>
        <div id="publishers"></div>
    </div>
    
    <div class="from-title">
        <h3>Screens:</h3>
        <div id="screens"></div>
    </div>
</div>
