/* ::ng-deep #subscribers {
    border: 5px solid red;
    border-radius: 5px;
}

::ng-deep #publishers {
    border: 5px solid blue;
    border-radius: 5px;
} */

::ng-deep .OT_root {
    height: 300px !important;
    width: 300px !important;
}
.from-section {
    padding: 40px 0;
}
.container {
    max-width: 1000px;
    width: 70%;
    margin: 0 auto;
    padding: 0 15px;
}

.form-wrap {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 3px 8px 21px #aaaaaa66;
    border-radius: 10px;
    padding: 20px 15px;
}

.from-title h3 {
    font-size: 22px;
    margin: 0 0 15px;
}
.from-group {
   margin-bottom: 20px;
}
.from-group .label {
    display: block;
    width: 100%;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
}
.from-group input {
    display: block;
    width: 100%;
    font-weight: 400;
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 3px;
    border:1px solid #ddd;
}
.from-group input:focus {
    outline: none;
    box-shadow: inherit;
}


.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.btn-wrap button {
    background-color: #143379;
    border-color: #123072;
    padding: 10px 14px;
    border-radius: 3px;
    border: none;
    margin: 2px;
    color: #fff;
    cursor: pointer;
}
.btn-wrap button:hover {
    opacity: 0.9;
}

img {
    height: 25px;
    width: 25px;
}

#screens {
    width: 75% !important;
    height: 500px !important;
    margin-bottom: 100px;
}

.OT_video-poster {
    box-sizing: border-box !important;
    background-image: none !important;
    border: 2px solid white;
    border-radius: 15px;
}

.OT_widget-container {
    box-sizing: border-box !important;
    border: 2px solid white;
    border-radius: 15px;
}
